body {
  margin: 0;
background: linear-gradient(0.2turn, #A0A7EA, #F8F9FF, #E6F4F1);
  /* height: 100%;
  width: 100%; */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
}

/* .home_container{
  text-align: center;
  
} */

.home_text_container{
  /* position: absolute; */
 text-align: center;
 padding-top: 40px;
 /* padding-left: 20px; */
}

.home_button{
  display:inline-block;
  margin: 20px !important;
  cursor: pointer; 
 
}

.home_button:hover { transform: scale(1.1); }

.button_container{
  /* position: absolute;
  bottom: 0; */
  padding-top: 20px;
  text-align: center;
  width: 100%;
  
}

.about_container{
  display: grid;
  grid-template-columns: auto auto;
  text-align: justify;
  margin-top: 150px;
  grid-gap: 60px;
  padding: 0 30px;
  
}



.about_pic{
  border-radius: 25px;
  
}

.grid_container{
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-gap: 80px;
  justify-content: center;
  padding-left: 50px;
    padding-right: 50px;
    
}

.grid_container h4{
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  word-spacing: 3px;
  line-height: 1.6
}

.grid-item {
  padding: 10px;
  font-size: 30px;
  
}

.work_container{
  /* background: no-repeat linear-gradient(0.2turn, #A0A7EA, #F8F9FF, #E6F4F1); */
  /* position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 100px;
  background-size: 100vw 100vh */
}

/* .video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
} */

.description{
  padding-top: 20px;
}

