/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.home_container{
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #daac7b);
  position: absolute;
  height: 100%;
  width: 100%;
  
}

.navigation{
  background: #ebf8e1;
  width: 100%; 
 
}

.home_text_container{
  position: relative;
  top: 200px;
  left: 200px;
}

.about_container{
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #daac7b);
  position: absolute;
  height: 100%;
  width: 100%;
  
}

.about_text_container{
  line-break: auto;
  position: relative;
  top: 150px;
  left: 10px;
}

.about_pic{
  position: relative;
  top: 100px;
  left: 550px;
  border-radius: 25px;
  
}

.grid_container{
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: auto auto;
  grid-gap: 80px;
  justify-content: center;
}

.grid-item {
  padding: 10px;
  font-size: 30px;
  
}

.work_container{
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #daac7b);
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 100px;
}

.home_button{
  display:inline-block;
  position: relative;
  left: 680px;
  top: 20px;
  padding: 10px;
  cursor: pointer; 
}

.home_button:hover { transform: scale(1.1); }